$color-for-hover-a: #03A9F4;
$color-for-nav: #7D7D7D;
$color-for-card-title: #B4AD9E;
$color-for-article: #626262;
$color-outline:#ff0000;
$color-white: rgb(255, 255, 255);
$fonts-Ubuntu: 'Ubuntu', sans-serif;
$fonts-Playfair-Display: 'Playfair Display', serif;